.nav-pre-header {
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav-pre-header .logo > a:hover { text-decoration: none; }
.nav-pre-header .logo > a:active { text-decoration: none; }
.nav-pre-header .logo > a:active { text-decoration: none; }

.nav-pre-buttons {
  padding-top: 2px;
}

footer {
  margin-top: 40px;
  padding-top: 14px;
  margin-bottom: 20px;
  border-top: 1px solid #e4e4e4;
  color: #888;
}
